[Unit]
Description=Load cloud-config from url defined in /proc/cmdline
Requires=flatcar-setup-environment.service
After=flatcar-setup-environment.service
After=system-config.target
Before=user-config.target
ConditionKernelCommandLine=cloud-config-url

[Service]
Type=oneshot
TimeoutSec=10min
RemainAfterExit=yes
EnvironmentFile=-/etc/environment
ExecStart=/usr/bin/coreos-cloudinit --from-proc-cmdline
